* {
  box-sizing: border-box;
}

body {
  height: auto;
  background-color: #cdd3d3;
  background-size: fill;
  background-image: url('https://s3-eu-west-1.amazonaws.com/production-static-stedelijk/images/_whats%20on/tentoonstellingen/2020/Nam%20June%20Paik/scaled/1024/TV%20Garden.jpg');
  background-size: fill;
}

.page-wrapper {
  display: flex;
  background-color: white;
  height: auto;
  min-height: 1000px;
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 0px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: auto; 
  width: 100%;
}

.container {
  margin-left: 50px;
}

