* {
  box-sizing: border-box;
  font-family: "Vollkorn", helvetica;
}

body {
  height: auto;
  background-color: #cdd3d3;
  background-size: fill; 
}

.page-wrapper {
  display: flex;
  background-color: white;
  flex-direction: column;
  height: 800px;
  width: 1500px;
  margin: 0px 60px 0px 60px;
  padding: 20px;
}

a:hover {
  color: #0b0bf9;
}

.navbar {
  margin-bottom: 50px;
  border-bottom: 5px solid #0b0bf9;
}

